<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Javarie Ramdeen</h1>
 <p>I am 22 years old. I graduated from Meadowbrook High School and I am currently studying Computer Science at The University of the West Indies.
    My favourite food is pizza. I love to travel. I am interested in  Web development beacause it comes with a lot of transferable skills, ideal for other fields.</p>
</body>
</html>